@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #2b69ec;
  --color-secundary: #DCEAFE;
  --color-admin: #1e293b;
}

@layer components {
  .tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: var(--color-secundary);
    border-radius: 24px;
  }

  .card--admin{
    background-color: white;
    padding: 20px;
  }
}
