<section class="bg-primary py-24 md:py-30 px-4 text-center">
    <h1 class="text-4xl md:text-5xl lg:text-6xl text-white font-bold mb-6 leading-tight">Ciência Aberta para <br> um Futuro Inovador</h1>
    <p class=" text-white text-lg md:text-xl max-w-3xl mb-10 mx-auto">Conectando pesquisadores e sociedade através de um acervo digital transparente. Acesse publicações revisadas por pares e dados confiáveis.</p>
    <%= link_to articles_path, class: "inline-flex bg-white py-4 px-8" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Explorar Acervo</span>
    <% end %>
</section>